* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(34, 24, 87);
    background: linear-gradient(45deg, #221857 45%, #3918c8 100%);
    display: flex;
    padding: 5%;
    padding-right: 300px;
}

.signup-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.col-1,
.col-2 {
    flex-basis: 50%;
    flex-grow: 1;
}

.col-1 img {
    width: 100%;
    display: block;
    box-shadow: #ff4500 0px 0px 100px 0px;
}

.col-2 {
    margin-left: 124px;
    background: white;
    padding: 40px 8%;
    color: #333;
    min-width: 350px;
    min-height: 450px;
    box-shadow: #dc25dc 0px 0px 100px 0px;
}

.col-2 h2 {
    font-weight: 600;
    text-align: center;
}

.col-2 p {
    font-size: 12px;
    text-align: center;
}

.col-2 span a {
    text-decoration: none;
    text-align: center;
    color: #ef005d;
    font-weight: 500;
}

.google-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ef005d;
    text-decoration: none;
    color: #555;
    font-size: 13px;
    margin: 20% 0;
}

.google-link img {
    width: 20px;
    margin-right: 10px;
}

.col-2 h4 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}

.col-2 .google-link:hover {
    color: #ffffff;
    background-color: #ef005d;
}

.twitch-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #9612fc;
    text-decoration: none;
    color: #555555;
    font-size: 13px;
    margin: 20% 0%;
}

.col-2 .twitch-link:hover {
    color: #ffffff;
    background-color: #9612fc;

}

.twitch-link img {
    width: 20px;
    margin-right: 10px;
}